.main-background {
    background-image: url('/imgs/ocean_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    max-width: min(266px, 90%);
}

.setting-icon {
    width: 24px;
    max-width: 24px;
    height: 24px;
}

.btn-settings {
    position: absolute;
    top: 5px;
    right: 5px;
}
