@page "/settings"

<div class="p-5">
    <label class="fw-bold" for="api_url">API URL</label>
    <input id="api_url" class="form-control mb-2" @bind="apiURL"
           @bind:event="oninput" />

    <label class="fw-bold" for="mqtt_host">MQTT host</label>
    <input id="mqtt_host" class="form-control mb-2" @bind="mqttHost"
           @bind:event="oninput"/>

    <label class="fw-bold" for="mqtt_port">MQTT PORT</label>
    <input id="mqtt_port" class="form-control mb-2" @bind="mqttPORT"
           @bind:event="oninput" type="number" />

    <label class="fw-bold" for="mqtt_username">MQTT username</label>
    <input id="mqtt_username" class="form-control mb-2" @bind="mqttUsername"
           @bind:event="oninput" />

    <label class="fw-bold" for="mqtt_password">MQTT password</label>
    <input id="mqtt_password" class="form-control mb-2" @bind="mqttPassword"
           @bind:event="oninput" />

    <label class="fw-bold" for="mqtt_topic">MQTT topic</label>
    <input id="mqtt_topic" class="form-control mb-2" @bind="mqttTopic"
           @bind:event="oninput" />

    <button class="btn btn-primary" @onclick="OnSave"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
</div>